$_yellow: #ffff00;

.logged_page {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.greetings {
  font-family: Abibas;
  color: $_yellow;
  font-size: 48pt;
  text-align: left;
  margin-bottom: 0;
}

.lobby_list {
  width: 70%;
  height: 665px;
  background-color: #373434;
  border-radius: 10px;
  border: black solid 3px;
}

.lobby_list_header {
  width: 100%;
  height: 45px;
  background-color: black;
  font-family: Abibas;
  display: flex;
  align-items: center;

  p {
    margin: 0;
    margin-block: 0;
    text-align: center;
    vertical-align: middle;
  }
}

.lobby_name {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity_ {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader_name {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pack_name {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection_button_text {
  width: 20%;
}
.connection_link {
  text-decoration: none;
  color: white;
}

.line_splitting {
  font-family: Abibas;
  display: flex;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.line_splitting:hover {
  background-color: rgba(72, 72, 72, 0.58);
  transition-duration: 200ms;
}




.connection_button {
  width: 20%;
}

.connection_button_active {
  background-color: black;
  font-family: Abibas;
  border: solid 1px #d7d7b3;
  border-radius: 7px;
  margin: 5px;
  color: white;
  padding: 2px 8px 2px 8px;
  font-size: 14pt;
}
.connection_button_active:hover {
  color: black;
  background-color: white;
  transition-duration: 0.2s;
}


