
@font-face {
    src: local('abibas.otf'), url(../../../fonts/abibas.otf) format('otf');
}

.eclipse_screen {
    z-index: 20;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: eclipse;
    animation-duration: 100ms;
    background-color: rgba(0, 0, 0, 0.4);
}
@keyframes eclipse {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}
@keyframes showing {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.78);
    }
}


.auth_form {
    animation-name: showing;
    animation-duration: 100ms;
    width: 25%;
    height: 25%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.78);

}

.form_handler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_field {
    margin-top: 7px;
    box-sizing: border-box;
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
}

form_field::placeholder {
    color: transparent;
}

form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}


.form_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.form_field:required, :invalid {
    box-shadow: none;
}



$colors: (
        close: #ff7f82,
        slide: #8fc866,
);



.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

@each $button, $color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 45deg)};
    }
}

button {
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 10px;
    padding: 7px 20px;
}

.exit_button {
    float:right;
}