.rules {
  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__header {
    color: #ffff00;
    font-family: Abibas, serif;
    font-size: 36pt;
    margin-top: 5px;
  }

  &__text {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 75%;
    &__subheader {
      color: #ffff00;
      font-size: 18pt;
      text-align: left;
      font-family: Abibas;
    }

    &__paragraph {
      text-align: justify;
      font-size: 14pt;
    }
  }
}